body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.1;
    letter-spacing: -2.5px;
    max-width: 540px;
    margin-bottom: 65px;
}
.title-h2 {
    color: #192b59;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1.5px;
    line-height: 1.2;
}
.title-h2 span{
    display: block;
    color:#1085e4;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1px;
}
.page-stat .title-h2, .page-screen .title-h2 {
    text-align: center;
    margin: 0 auto;
}
.page-stat .title-h2 {
    max-width: 500px;
}
.page-screen .title-h2 {
    font-size: 40px;
    letter-spacing: -1px;
    margin-bottom: 20px;
}
.page-screen .title-h2 span {
    font-size: 18px;
    margin-bottom: 29px;
    letter-spacing: 3.5px;
}
.page-plan .title-h2 {
    font-size: 40px;
    letter-spacing: -0.9px;
}
.page-plan .title-h2 span {
    margin-bottom: 30px;
    letter-spacing: 5.2px;
}
.title-h3 {
    font-size: 70px;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: 15px;
    margin-top: 0;
}
.title-h3 span {
    font-size: 20px;
}
.wrap {
    max-width: 1110px;
    margin: 0 auto;
}
.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 305px;
}
.logo {
    background-image: url(../img/logo.png);
    width: 181px;
    height: 49px;
    display: block;
}
.nav {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: #6e7ea9;
}
.nav > li {
    padding: 0 20px;
   
}
.nav-item {
    color: #6e7ea9;
    letter-spacing: 2px;
}
.screen-img {
    display: block;
    background-image: url(../img/header-screen.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 740px;
    position: absolute;
    right: 0;
    top: 189px;
}
.btn-primary {
    background: #1085e4;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 40px;
    border: 1px solid #1085e4;
    border-radius: 30px;
    letter-spacing: 2.5px;
    transition: 0.3s;
}
.btn-primary:hover {
    background: #fff;
    color:#1085e4;
}
.btn-secondary {
    background: #cbdbe8;
    color: #7e8bae;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 40px;
    border: 1px solid #cbdbe8;
    border-radius: 30px;
    letter-spacing: 2.5px;
    transition: 0.3s;
}
.btn-secondary:hover {
    background: #fff;
}

.btn-free {
    font-size: 12px;
    font-weight: 400;
    padding: 21px 56px;
    letter-spacing: 1.7px;
}
.btn-group a + a {
    margin-left: 15px;
}
.btn-info {
    color:#8085b1;
    background: transparent;
    border: 1px solid #dce1e5;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2.5px;
    padding: 20px 40px;
    border-radius: 30px;
    text-transform: uppercase;
    transition: 0.3s;
}
.btn-info:hover {
    background:  #1085e4;
    color: #fff;
    border: 1px solid #1085e4;
}
.list-company {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    margin: 0 auto;
    align-items: center;
}
.company-one {
    background-image: url(../img/sponsors.png);
    background-repeat: no-repeat;
    flex-basis: 198px;
    height: 58px;
}
.company-two {
    background-image: url(../img/sponsors2.png);
    background-repeat: no-repeat;
    flex-basis: 200px;
    height: 69px;
}
.company-three {
    background-image: url(../img/sponsors3.png);
    background-repeat: no-repeat;   
    flex-basis: 201px;
    height: 47px;
}
.company-four {
    background-image: url(../img/sponsors4.png);
    background-repeat: no-repeat;
    flex-basis: 200px;
    height: 69px;
}
.list-company-item {
    display: block;
}
.grid {
    display: grid;
    grid-template-areas: "a b c"
                        "d b c"
                        "d f g"
                        "e f g"
                        "e h h";
    grid-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1110px;
    margin: 0 auto;
    
}
.grid-title {
    grid-area: a;
}
.grid-item-1 {
    grid-area: b;
}
.grid-item-2 {
    grid-area: c;
}
.grid-item-3 {
    grid-area: d;
}
.grid-item-4 {
    grid-area: e;
}
.grid-item-5 {
    grid-area: f;
}
.grid-item-6 {
    grid-area: g;
}
.grid-text {
    grid-area: h;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1px;
    max-width: 260px;
    margin-top: 0;
}
.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2.9px;
    margin-bottom: 15px;
}
.grid-item {
    text-align: center;
    padding: 80px 40px;
    box-shadow: 0 9px 20px #f4f4f4;
}
.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
    margin-bottom: 18px;
}
.grid-item a {
    color: #1085e4;
    font-size: 14px;
    font-weight: 600;
}
.grid-icon {
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto 36px;
    height: 92px;
    background-position: center;
}
.grid-icon-1 {
    background-image: url(../img/Icon-2.png);
    background-size: 73px 79px;

}
.grid-icon-2 {
    background-image: url(../img/Icon-3.png);
    background-size: 89px 85px;

}
.grid-icon-3 {
    background-image: url(../img/Icon-1.png);
    background-size: 79px 82px;
}
.grid-icon-4 {
    background-image: url(../img/Icon-4.png);
    background-size: 109px 92px;
}
.grid-icon-5 {
    background-image: url(../img/Icon-5.png);
    background-size: 85px 90px;
}
.grid-icon-6 {
    background-image: url(../img/Icon-6.png);
    background-size: 100px 87px;
}

.grid-text-name {
    color: #192b59;
    font-size: 16px;
    font-weight: 700;
}
.grid-text-position {
    color: #1085e4;
    font-size: 14px;
    letter-spacing: 0;
}
.page-softwere-flex {
    display: flex;
    justify-content: flex-end;
}
.page-softwere-img {
    display: block;
    background-image: url(../img/page-softwere-img.png);
    background-repeat: no-repeat;
    width: 946px;
    height: 760px;
    position: absolute;
    left: 0;
    top: 118px;
}
.page-softwere-flex>div {
    flex-basis: 55%;
}
.settings-icon {
    display: block;
    background-image: url(../img/softwere-icon.png);
    background-repeat: no-repeat;
    width: 117px;
    height: 98px;
    background-position: -28px 0;
}
.page-softwere-list dt {
    font-weight: 700;
    color: #5a6789;
    margin-bottom: 10px;
}
.page-softwere-list dd {
    margin-left: 0;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 1.8;
}
.page-softwere-flex .title-h2{
    max-width: 766px;
    margin-top: 0;
    margin-bottom: 26px;
    letter-spacing: -1px;
}
.page-softwere-list {
    margin-top: 31px;
    height: 320px;
    overflow: hidden;
    overflow-y: scroll;
    
}
.page-softwere-list::-webkit-scrollbar { width: 4px; height: 3px;}
.page-softwere-list::-webkit-scrollbar-track-piece { background-color: #f3f6ff;}
.page-softwere-list::-webkit-scrollbar-thumb { height: 56px; background-color: #1085e4; border-radius: 10px;}


.box-subscribe {
    display: flex;
    justify-content: space-between;
}
.box-subscribe img {
    filter:grayscale(100%);
}
.subscribe-item {
    padding: 58px 0;
    flex-basis: 49%;
}
.subscribe-item .title-h2{
    color: #fff;
    margin-bottom: 28px;
}
.subscribe-item .title-h2 span {
    font-size: 14px;
    margin-bottom: 25px;
}
.subscribe-p {
    font-size: 18px;
    color: #dfe8ff;
    max-width: 410px;
    padding-bottom: 22px;
    
}
.btn-subscribe {
    padding: 18px 41px;
    letter-spacing: 4.2px;
    position: absolute;
    top: 9px;
    right: 8px;
}
.btn-subscribe:hover {
    background: transparent;
}
.page-app-text {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #c4d2dd;
    margin-top: 27px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
}
.page-app-list {
    padding: 0;
    list-style-type: none;
    margin-left: -9px;
}
.page-app-list>li {
    display: inline-block;
}
.page-app-list>li>a {
    background-image: url(../img/page-app-icons.png);
    background-repeat: no-repeat;
    display: block;
    width: 185px;
    height: 78px;
}
.page-app-list>li>a.page-app-android {
    background-position: 0 0;
}
.page-app-list>li>a.page-app-ios {
    background-position: -188px 0;
}
.page-app-content {
    width: 55%;
}
.page-app-content .title-h2 {
    margin-bottom: 36px;
}
a.video-app {
    position: absolute;
    top: -61px;
    right: -172px;
}
.flex-analytics, .flex-analytics-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-analytics img {
    margin-left: 28px;
}
.page-analytics-text {
    margin-bottom: 24px;
}
.flex-analytics>div {
    flex-basis: 50%;
}
.page-analytics-title {
    margin-top: 0;
    margin-bottom: 27px;
}

.page-analytics-title-left {
    margin-bottom: 51px;
}
.page-analytics-left-btn {
    padding: 20px 62px;
}
.list-stat {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 76px;
}
.list-stat>li {
    font-size: 12px;
    color:#1085e4;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    
}

.list-stat>li>span {
    display: block;
    color: #bacbdc;
    font-size: 60px;
    margin-bottom: 23px;
    letter-spacing: 0;
}
.screen {
    margin-top: 51px;
    margin-bottom: -6px;
}
.box-price{
    display: flex;
    justify-content: space-between;
    margin-top: 82px;
    margin-bottom: 120px;
   
}
.box-price-item {
    background-color: #f5faff;
    padding: 90px 0px 96px 0;
    flex-basis: 33%;
    position: relative;
    
}

.free .title-h3 {
    color:#000958;
    margin-bottom: 34px;
}
.ordinary .title-h3{
    color:#192b59;
}
.active {
    background-color: #192b59;
}
.active .btn-primary:hover {
    background-color: transparent;
}
.active .title-h3{
    color: #fff;
}
.box-price-item ul{
    list-style-type: none;
    padding-left: 0;
    padding: 21px 77px;
    line-height: 2;
    font-weight: 400;
    margin-bottom: 35px;
    line-height: 2.5;
    margin-top: 6px;
    letter-spacing: -1px;
    
}
.box-price-item .btn-info {
    padding-left: 63px;
    padding-right: 63px;
    letter-spacing: 2px;
}
.box-price-item .btn-primary {
    padding-left: 63px;
    padding-right: 63px;
    letter-spacing: 2px;
    flex-basis: 32%;
}
.box-price .starter {
    font-size: 14px;
    font-weight: 700;
    color: #0084ff;
    text-transform: uppercase;
    letter-spacing: 2.6px;
}
.box-price .active .starter {
    color: #fff;
} 
.box-subsrcribe-user {
    position: relative;
}
.box-subsrcribe-user input {
    border: 2px solid #3c51a9;
    color: #fff;
    border-radius: 45px;
    background-color: transparent;
    padding: 25px 230px 25px 37px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}
.box-subsrcribe-user input:focus, .btn-subscribe {
    outline: none;
}

.box-subsrcribe-user input::-webkit-input-placeholder {color:#b1c3ee;}
.box-subsrcribe-user input::-moz-placeholder          {color:#b1c3ee;}
.box-subsrcribe-user input:-moz-placeholder           {color:#b1c3ee;}
.box-subsrcribe-user input:-ms-input-placeholder      {color:#b1c3ee;}

/* pages */
.page-header {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 53px 0 330px 0;
    position: relative;
}
.page-company {
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 106px 0 99px;
}
.page-subscribe {
    background: rgba(10,32,144,1);
    background: -moz-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
    background: -webkit-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: linear-gradient(135deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
    padding: 27px;
}
.page-grid {
    margin-top: 87px;
    padding-bottom: 118px;
}
.page-stat, .page-screen {
    background-color: #edf6ff;
}
.page-stat {
    padding:126px 0 100px 0;
}
.page-screen {
    padding:126px 0 0 0;
}

.page-plan, .page-screen {
    text-align: center;
}
.page-softwere {
    padding: 121px 0 166px 0;
    background-image: url(../img/bg4.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.page-app {
    padding: 69px 0 92px 0;
}
.page-app .wrap {
    position: relative;
}

.page-analytics {
    background-image: url(../img/bg6.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 126px 0 136px 0;
}
.page-analytics-left {
    background-image: url(../img/bg7.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 134px;
    padding-top: 130px;
}