body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.1;
    letter-spacing: -2.5px;
    max-width: 540px;
    margin-bottom: 65px;
}
.title-h2 {
    color: #192b59;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1.5px;
    line-height: 1.2;
}
.title-h2 span{
    display: block;
    color:#1085e4;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1px;
}
.page-stat .title-h2, .page-screen .title-h2 {
    text-align: center;
    margin: 0 auto;
}
.page-stat .title-h2 {
    max-width: 500px;
}
.page-screen .title-h2 {
    font-size: 40px;
    letter-spacing: -1px;
    margin-bottom: 20px;
}
.page-screen .title-h2 span {
    font-size: 18px;
    margin-bottom: 29px;
    letter-spacing: 3.5px;
}
.page-plan .title-h2 {
    font-size: 40px;
    letter-spacing: -0.9px;
}
.page-plan .title-h2 span {
    margin-bottom: 30px;
    letter-spacing: 5.2px;
}
.title-h3 {
    font-size: 70px;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: 15px;
    margin-top: 0;
}
.title-h3 span {
    font-size: 20px;
}
.wrap {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.box-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 305px;
}
.logo {
    background-image: url(../img/logo.png);
    width: 181px;
    height: 49px;
    display: block;
}
.nav {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #6e7ea9;
}
.nav > li {
    padding: 0 20px;
}
.nav > li:last-child {
    padding-right: 0;
}
.nav-item {
    color: #6e7ea9;
    letter-spacing: 2px;
}
.screen-img {
    display: block;
    background-image: url(../img/header-screen.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 740px;
    position: absolute;
    right: 0;
    top: 189px;
}
.btn-menu {
    border: none;
    background-color: transparent;
    display: none;
}
.btn-menu:focus {
    outline: none;
}
.btn-menu svg {
    width: 35px;
    height: 35px;
    fill: #192b59;
}
.btn-primary {
    background: #1085e4;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 40px;
    border: 1px solid #1085e4;
    border-radius: 30px;
    letter-spacing: 2.5px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn-primary:hover {
    background: #fff;
    color:#1085e4;
}
.btn-secondary {
    background: #cbdbe8;
    color: #7e8bae;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 40px;
    border: 1px solid #cbdbe8;
    border-radius: 30px;
    letter-spacing: 2.5px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn-secondary:hover {
    background: #fff;
}

.btn-free {
    font-size: 12px;
    font-weight: 400;
    padding: 21px 56px;
    letter-spacing: 1.7px;
}
.btn-group a + a {
    margin-left: 15px;
}
.btn-info {
    color:#8085b1;
    background: transparent;
    border: 1px solid #dce1e5;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2.5px;
    padding: 20px 40px;
    border-radius: 30px;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn-info:hover {
    background:  #1085e4;
    color: #fff;
    border: 1px solid #1085e4;
}
.btn-close {
    border: none;
    background-color: transparent;
    font-weight: 200;
    font-size: 35px;
    right: 33px;
    position: absolute;
    color: #6e7ea9;
    opacity: 0.2;
    transition: 0.3s;
}
.btn-close:hover {
    opacity: 1;
}
.btn-close:focus {
    outline: none;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 30px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    max-width: 700px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 30px 50px 45px 50px;
    box-shadow: 0 5px 6px #f4f4f4;
    border-radius: 10px;
}
.nav-modal {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.nav-modal>li:last-child {
    margin-top: 35px;
}
ul.nav-modal>li {
    margin-bottom: 12px;
}

.list-company {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1110px;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.company-one {
    -ms-flex-preferred-size: 198px;
        flex-basis: 198px;
}
.company-two {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
}
.company-three {
    -ms-flex-preferred-size: 201px;
        flex-basis: 201px;
}
.company-four {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
}

.company-one span{
    background-image: url(../img/sponsors.png);
    background-repeat: no-repeat;
    width: 198px;
    height: 58px;
    margin: 0 auto;
}
.company-two span{
    background-image: url(../img/sponsors2.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 69px;
    margin: 0 auto;
}
.company-three span{
    background-image: url(../img/sponsors3.png);
    background-repeat: no-repeat;   
    width: 201px;
    height: 47px;
    margin: 0 auto;
}
.company-four span{
    background-image: url(../img/sponsors4.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 69px;
    margin: 0 auto;
}

.list-company-item span {
    display: block;
}
.grid {
    display: grid;
    grid-template-areas: "a b c"
                        "d b c"
                        "d f g"
                        "e f g"
                        "e h h";
    grid-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    
}
.grid-title {
    grid-area: a;
}
.grid-item-1 {
    grid-area: b;
}
.grid-item-2 {
    grid-area: c;
}
.grid-item-3 {
    grid-area: d;
}
.grid-item-4 {
    grid-area: e;
}
.grid-item-5 {
    grid-area: f;
}
.grid-item-6 {
    grid-area: g;
}
.grid-text {
    grid-area: h;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1px;
    max-width: 260px;
    margin-top: 0;
    
}
.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2.9px;
    margin-bottom: 15px;
}
.grid-item {
    text-align: center;
    padding: 80px 40px;
    -webkit-box-shadow: 0 5px 6px #f4f4f4;
            box-shadow: 0 5px 6px #f4f4f4;
}
.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
    margin-bottom: 18px;
}
.grid-item a {
    color: #1085e4;
    font-size: 14px;
    font-weight: 600;
}
.grid-icon {
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto 36px;
    height: 92px;
    background-position: center;
}
.grid-icon-1 {
    background-image: url(../img/Icon-2.png);
    background-size: 73px 79px;

}
.grid-icon-2 {
    background-image: url(../img/Icon-3.png);
    background-size: 89px 85px;

}
.grid-icon-3 {
    background-image: url(../img/Icon-1.png);
    background-size: 79px 82px;
}
.grid-icon-4 {
    background-image: url(../img/Icon-4.png);
    background-size: 109px 92px;
}
.grid-icon-5 {
    background-image: url(../img/Icon-5.png);
    background-size: 85px 90px;
}
.grid-icon-6 {
    background-image: url(../img/Icon-6.png);
    background-size: 100px 87px;
}

.grid-text-name {
    color: #192b59;
    font-size: 16px;
    font-weight: 700;
}
.grid-text-position {
    color: #1085e4;
    font-size: 14px;
    letter-spacing: 0;
}
.page-softwere-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.page-softwere-img {
    display: block;
    background-image: url(../img/page-softwere-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom;
    background-size: contain;
    width: 48%;
    height: 760px;
    position: absolute;
    left: 0;
    top: 118px;
    
}
.page-softwere-flex>div {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
}
.settings-icon {
    display: block;
    background-image: url(../img/softwere-icon.png);
    background-repeat: no-repeat;
    width: 117px;
    height: 98px;
    background-position: -28px 0;
}
.page-softwere-list dt {
    font-weight: 700;
    color: #5a6789;
    margin-bottom: 10px;
}
.page-softwere-list dd {
    margin-left: 0;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 1.8;
}
.page-softwere-flex .title-h2{
    max-width: 766px;
    margin-top: 0;
    margin-bottom: 26px;
    letter-spacing: -1px;
}
.page-softwere-list {
    margin-top: 31px;
    height: 320px;
    overflow: hidden;
    overflow-y: scroll;
    
}
.page-softwere-list::-webkit-scrollbar { width: 4px; height: 3px;}
.page-softwere-list::-webkit-scrollbar-track-piece { background-color: #f3f6ff;}
.page-softwere-list::-webkit-scrollbar-thumb { height: 56px; background-color: #1085e4; border-radius: 10px;}


.box-subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.box-subscribe img {
    -webkit-filter:grayscale(100%);
            filter:grayscale(100%);
}
.subscribe-item {
    padding: 58px 0;
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
}
.subscribe-item .title-h2{
    color: #fff;
    margin-bottom: 28px;
}
.subscribe-item .title-h2 span {
    font-size: 14px;
    margin-bottom: 25px;
}
.subscribe-p {
    font-size: 18px;
    color: #dfe8ff;
    max-width: 410px;
    padding-bottom: 22px;
    
}
.btn-subscribe {
    padding: 18px 41px;
    letter-spacing: 4.2px;
    position: absolute;
    top: 9px;
    right: 8px;
}
.btn-subscribe:hover {
    background: transparent;
}
.page-app-text {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #c4d2dd;
    margin-top: 27px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
}
.page-app-list {
    padding: 0;
    list-style-type: none;
    margin-left: -9px;
}
.page-app-list>li {
    display: inline-block;
}
.page-app-list>li>a {
    background-image: url(../img/page-app-icons.png);
    background-repeat: no-repeat;
    display: block;
    width: 185px;
    height: 78px;
}
.page-app-list>li>a.page-app-android {
    background-position: 0 0;
}
.page-app-list>li>a.page-app-ios {
    background-position: -188px 0;
}
.page-app-content {
    width: 55%;
}
.page-app-content .title-h2 {
    margin-bottom: 36px;
}
a.video-app {
    position: absolute;
    top: -61px;
    right: -172px;
}
.flex-analytics, .flex-analytics-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.flex-analytics img {
    margin-left: 28px;
}
.page-analytics-text {
    margin-bottom: 24px;
}
.flex-analytics>div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
.page-analytics-title {
    margin-top: 0;
    margin-bottom: 27px;
}

.page-analytics-title-left {
    margin-bottom: 51px;
}
.page-analytics-left-btn {
    padding: 20px 62px;
}
.list-stat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 76px;
    flex-wrap: wrap;
    padding: 0;
}
.list-stat>li {
    font-size: 12px;
    color:#1085e4;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    
}

.list-stat>li>span {
    display: block;
    color: #bacbdc;
    font-size: 60px;
    margin-bottom: 23px;
    letter-spacing: 0;
}
.screen {
    margin-top: 51px;
    margin-bottom: -6px;
    max-width: 1288px;
    width: 100%;
}
.title-clients {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1px;
}
.page-team .title-h2{
    font-size: 40px;
    color:#fff;
    letter-spacing: -1px;
}
.title-clients span {
    color:#85c8ff;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 3.7px;
    margin-bottom: 30px;
}
.page-team .title-h2 span{
    color:#85c8ff;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 3.7px;
    margin-bottom: 30px;
}
.box-clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 66px;
    flex-wrap: wrap;
}
.box-clients-item {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    -ms-flex-preferred-size: 31.5%;
        flex-basis: 31.5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 14px;
    padding: 21px 42px;
    -webkit-box-shadow: 0 9px 20px #f4f4f4;
            box-shadow: 0 9px 20px #f4f4f4;
}
.box-clients-item .name {
    color: #000958;
    font-size: 22px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: -14px;
    letter-spacing: -0.6px;
    line-height: 1.1;
}
.box-clients-item>p {
    margin-bottom: 4px;
    letter-spacing: -0.3px;
    line-height: 1.7;
}
.box-clients-item .position {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #1085e4;
    letter-spacing: 3px;
}
.box-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 7px;
}
.box-info>div {
    padding-left: 17px;
}
.box-price{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 82px;
    margin-bottom: 120px;
   flex-wrap: wrap;
}
.box-price-item {
    background-color: #f5faff;
    padding: 90px 0px 96px 0;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    position: relative;
    
}

.free .title-h3 {
    color:#000958;
    margin-bottom: 34px;
}
.ordinary .title-h3{
    color:#192b59;
}
.active {
    background-color: #192b59;
}
.active .btn-primary:hover {
    background-color: transparent;
}
.active .title-h3{
    color: #fff;
}
.box-price-item ul{
    list-style-type: none;
    padding-left: 0;
    padding: 21px 77px;
    line-height: 2;
    font-weight: 400;
    margin-bottom: 35px;
    line-height: 2.5;
    margin-top: 6px;
    letter-spacing: -1px;
    
}
.box-price-item .btn-info {
    padding-left: 63px;
    padding-right: 63px;
    letter-spacing: 2px;
}
.box-price-item .btn-primary {
    padding-left: 63px;
    padding-right: 63px;
    letter-spacing: 2px;
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
}
.box-price .starter {
    font-size: 14px;
    font-weight: 700;
    color: #0084ff;
    text-transform: uppercase;
    letter-spacing: 2.6px;
}
.box-price .active .starter {
    color: #fff;
} 
.box-subsrcribe-user {
    position: relative;
}
.box-subsrcribe-user input {
    border: 2px solid #3c51a9;
    color: #fff;
    border-radius: 45px;
    background-color: transparent;
    padding: 25px 230px 25px 37px;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 14px;
}
.box-subsrcribe-user input:focus, .btn-subscribe {
    outline: none;
}

.box-subsrcribe-user input::-webkit-input-placeholder {color:#b1c3ee;}
.box-subsrcribe-user input::-moz-placeholder          {color:#b1c3ee;}
.box-subsrcribe-user input:-moz-placeholder           {color:#b1c3ee;}
.box-subsrcribe-user input:-ms-input-placeholder      {color:#b1c3ee;}

.box-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 138px;
    flex-wrap: wrap;
}
.box-team-item {
    background-color: #fff;
    -ms-flex-preferred-size: 31.5%;
        flex-basis: 31.5%;
    -webkit-box-shadow: 0 5px 6px #f4f4f4;
            box-shadow: 0 5px 6px #f4f4f4;
    position: relative;
    padding: 190px 31px 42px 31px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
}
.box-team-item .btn-team {
    background-color: #f3f3f3;
    border-radius: 100%;
    padding: 0;
    width: 50px;
    height: 50px;
    border:none;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin: 0 auto;
}

.page-team .position {
    color: #1a88e1;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing: 2.1px;
    margin-top: 17px;
}
.page-team .name {
    color: #192b59;
    font-weight: 600;
    font-size: 26px;
    margin-top: 7px;
    letter-spacing: -0.9px;
}
.box-team-item .avatar {
    position: absolute;
    top: -86px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    border:none;
}

.box-team-item .btn-team span {
    background-image: url(../img/btn-team.png);
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
}
.box-team-item .btn-more span{
    background-position: 2px 2px;
    width: 20px;
    height: 20px;
}

.box-team-item .btn-more:focus {
    outline: none;
}

.box-team-item .btn-more:hover span {
    background-position: 2px -28px;
}
.box-team-item .btn-team:hover {
    background-color: #1a88e1;
}
.box-team-item .btn-fb span {
    background-position: -18px 16px;
    width: 20px;
    height: 20px;
    padding-top: 28px;
}
.box-team-item .btn-tw span {
    background-position: -40px 16px;
    width: 20px;
    height: 20px;
    padding-top: 28px;
}
.box-team-item .btn-tw span {
    background-position: -40px 18px;
    width: 20px;
    height: 20px;
    padding-top: 28px;
}
.box-team-item .btn-be span {
    background-position: -64px 16px;
    width: 20px;
    height: 20px;
    padding-top: 28px;
}
.box-team-item .btn-web span {
    background-position: -87px 17px;
    width: 20px;
    height: 20px;
    padding-top: 28px;
}
.box-team-item .btn-fb:hover span {
    background-position: -19px -16px;

}
.box-team-item .btn-tw:hover span {
    background-position: -39px -14px;

}
.box-team-item .btn-be:hover span {
    background-position: -65px -16px;

}
.box-team-item .btn-web:hover span {
    background-position: -87px -14px;

}
.social-team {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: justify; 
        -ms-flex-pack: justify; 
            justify-content: space-between;
    padding: 0;
}
.object-circle {
    display: block;
    position: absolute;
    left: 0;
    bottom: -363px;
    background-image: url(../img/circle-vector.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 413px;
    height: 765px;
}
.object-rhombus {
    display: block;
    position: absolute;
    right: 0;
    top: -163px;
    background-image: url(../img/rhombus-vector.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 590spx;
    height: 661px;
}
.intro {
    color: rgba(0, 0, 0, 0.04);
    font-size: 300px;
    font-weight: 900;
    line-height: 0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 39px;
    margin: 0;
}
.contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 51px;
}
.contact-form  input, .contact-form textarea {
    font-size: 14px;
    border: 2px solid #dce4ec;
    padding: 25px 80px 25px 37px;
    border-radius: 35px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline:none;
}
.contact-form  input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {color:#8995b3;}
.contact-form  input::-moz-placeholder, .contact-form textarea::-webkit-input-placeholder {color:#8995b3;}
.contact-form  input:-moz-placeholder, .contact-form textarea::-webkit-input-placeholder {color:#8995b3;}
.contact-form  input:-ms-input-placeholder, .contact-form textarea::-webkit-input-placeholder {color:#8995b3;} 

.contact-form-item {
    margin-bottom: 19px;
    position: relative;
}
.contact-form textarea {
    min-height: 161px;
    resize: none;
}
.contact-form  input:focus, .contact-form textarea:focus {
    outline: none;
}
.contact-form-item::after {
    content: '';
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    right: 42px;
}
.contact-form-name::after {
    background-image: url(../img/user.png);  
    width: 13px;
    height: 15px;
    top: calc(50% - 7px);
}
.contact-form-mail::after {
    background-image: url(../img/envelope.png);  
    width: 14px;
    height: 11px;
    top: calc(50% - 7px);
}
.contact-form-text::after {
    background-image: url(../img/pen.png);  
    width: 14px;
    height: 15px;
    top: 29px;
}
.flex-form .form-img {
    margin-right: 60px;
    margin-top: 61px;
}
.contact-form .btn-primary{
    position: relative;
    padding: 22px 40px 22px 65px;
    max-width: 231px;
    letter-spacing: 2px;
    margin-top: 13px;
}
.contact-form .btn-primary::before {
    content: '';
    background-image: url(../img/btn-plain.png); 
    position: absolute; 
    left: 53px;
    top: 23px;
    display: block;
    width: 13px;
    height: 13px;

}
.flex-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 1110px;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 110px;
    max-width: 1090px;
}
.flex-form>div {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
}
.title-form {
    margin-left: 5px;
}
.flex-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 7px;
}
.flex-sohial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
}
.flex-footer p {
    color: #b6bae0;
    font-weight: 400;
}
.flex-footer p span {
    color: #1085e4;
    text-transform: uppercase;
    font-weight: 400;
}
.sohial-item {
    margin-left: 20px;
}
.sohial-item:hover {
    color: #000958;
}
/* pages */
.page-header {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 53px 0 330px 0;
    position: relative;
}
.page-company {
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 106px 0 99px;
}
.page-subscribe {
    background: rgba(10,32,144,1);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
    background: linear-gradient(135deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
    padding: 27px;
}
.page-grid {
    margin-top: 121px;
    padding-bottom: 118px;
}
.page-stat, .page-screen {
    background-color: #edf6ff;
}
.page-stat {
    padding:126px 0 100px 0;
    position: relative;
}
.page-screen {
    padding:126px 0 0 0;
}
.page-plan {
    padding-top: 92px;
}
.page-plan, .page-screen {
    text-align: center;
}
.page-softwere {
    padding: 121px 0 166px 0;
    background-image: url(../img/bg4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.page-app {
    padding: 69px 0 92px 0;
}
.page-app .wrap {
    position: relative;
}

.page-analytics {
    background-image: url(../img/bg6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 126px 0 136px 0;
}
.page-analytics-left {
    background-image: url(../img/bg7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 134px;
    padding-top: 130px;
}
.page-clients {
    position: relative;
    padding: 53px 0 0 0;
    margin-top: 119px;
}
.page-clients::before {
    content: '';
    display: block;
    background-image: url(../img/vector.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.page-team {
    text-align: center;
    background-image: url(../img/bg9.png);
    background-position: center;
    padding: 95px 0 121px 0;
    background-repeat: no-repeat;
}
.page-form {
    background-image: url(../img/bg10.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
}
.footer {
    background-color: #192b59;
}

/* media */

@media (max-width:930px) {
    .intro {
        display: none;
    }
    .box-clients {
        justify-content: space-around;
    }
    .box-clients-item {
        min-width: 320px;
        margin-bottom: 20px;
       
    }
    .title-clients {
        text-align: center;
    }
    .box-clients-item:last-child {
        margin: 0 auto;
    }
    .page-clients::before {
        display: none;
    }
    .page-clients {
        background-color: #1085e4;
        padding: 53px 0 53px 0;
    }
    .box-price-item {
        margin: 0 auto;
        flex-basis: 51%;
    }
    .box-price {
        margin-bottom: 71px;
    }
    
}
@media (max-width:700px) {
    .list-stat>li {
        flex-basis: 34%;
        margin-bottom: 30px;
    }
    .box-clients-item {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .btn-subscribe {
        top: 80px;
       right: 0;
       left: 0;
       margin: 0 auto;
       width: 80%;
    }
    .box-subsrcribe-user input {
        padding: 25px 0 25px 38px;
    }
}
@media (max-width:1740px) {
    .screen-img {
        background-size: cover;
        width: 700px;
        height: 579px;
        top: 205px;
    }
}
@media (max-width:1400px) {
    .screen-img {
        background-size: cover;
        width: 50%;
        height: 579px;
        top: 205px;
    }
}

@media (max-width:1500px) {
    a.video-app {
        top: -24px;
        right: 0;
        left: 0;
        margin: 0 auto;
        display: block;
        text-align: center;     
    }
    .page-app .wrap {
        padding-top: 266px;
    }
    .video-app img {
        width: 318px;
    }
    .page-app-content {
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
    
}

@media (max-width:1100px) {
    .nav, .screen-img {
        display: none;
    }
    .btn-menu {
        display: block;
    }
    h1 {
        margin-bottom: 65px;
        text-align: center;
        margin: 0 auto 45px;
    }
    .btn-group {
        display: flex;
        justify-content: center;
    }
    .box-header {
        margin-bottom: 100px;
    }
    .page-header {
        padding: 53px 0 150px 0;
    }
    .content-app {
        width: 100%;
        text-align: center;
    }
    .list-company-item {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        margin-bottom: 50px;
    }
    .list-company-item span {
        margin: 0 auto;
    }
    .page-company {
        padding: 50px 0 25px;
    }
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a a"
                            "b c"
                            "d e"
                            "f g"
                            "h h"                       
    }
    .grid h2 {
        text-align: center;
        margin: 0 auto;
    }
    .grid h2 span {
        margin-bottom: 10px;
    }
    .box-subscribe {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .subscribe-item {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        text-align: center;
        padding: 0;
        max-width: 70%;
        margin: 0 auto;
    }
    .box-subscribe img {
        margin: 0 auto 5px;
        max-width: 170px;
    }
    .subscribe-p {
        margin: 0 auto 30px;
    }
    .page-subscribe {
        padding: 50px 0 97px 0;
    }
    .page-analytics .wrap {
        padding-top: 350px;
        position: relative;
    }
    .flex-analytics img {
        position: absolute;
        left: 0;
        top: -66px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .flex-analytics div {
        margin: 0 auto;
        text-align: center;
        flex-basis: 90%;
    }
    .settings-icon {
        display: none;
    }
    .page-analytics-left .wrap {
        padding-top: 350px;
        position: relative;
    }
    .page-analytics-left img {
        position: absolute;
        left: 0;
        top: -66px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .flex-analytics-left div {
        margin: 0 auto;
        text-align: center;
        flex-basis: 90%;
    }
    .box-team-item {
        flex-basis: 100%;
        padding-bottom: 30px;
        margin-bottom: 114px;
        max-width: 535px;
    }
    .box-team {
        justify-content: center;
        margin-top: 138px;
    }
    .page-team {
        background-color: #1a88e1;
        padding: 95px 0 27px 0;
    }
    .page-clients {
        background-color: #1085e4;
        padding: 53px 0 53px 0;
    }
    .page-form {
        padding-top: 402px;
    }
    .flex-form {
        position: relative;
    }
    .flex-form .form-img {
        position: absolute;
        top: -357px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .flex-form>div {
        flex-basis: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .contact-form button {
        margin: 0 auto;
    }
    .title-form {
        font-size: 40px;
    }
}

@media (max-width:600px) {
    .page-softwere-flex .title-h2 {
        font-size: 40px;
    }
    h1 {
        font-size: 40px;
        margin: 0 auto 30px;
    }
    .page-app-content h2 {
        font-size: 40px;
    }
    .btn-group a+a {
        font-size: 11px;
        margin-left: 0;
    }
    .btn-group a {
        margin-bottom: 10px;
    }
    .btn-group {
        flex-direction: column;
        text-align: center;
        max-width: 300px;
        margin: 0 auto;
    }
    .flex-analytics img, .flex-analytics-left img {
        display: none;
    }
    .page-analytics .wrap, .page-analytics-left .wrap {
        padding-top: 0;
    } 
    .page-analytics h2, .page-analytics-left h2 {
        font-size: 40px;
    }
    .flex-form .form-img {
        display: none;
    }
    .page-form {
        padding-top: 50px;
    }
    .flex-form>div {
        flex-basis: 100%;
    }
    .flex-footer {
        flex-direction: column;
    }
    .flex-footer p {
        text-align: center;
    }
    .flex-sohial {
        padding: 0;
        margin: 0 auto;
    }
    .box-price-item ul {
        min-width: 150px;
    }
}

@media (max-width:1300px){
    .page-softwere-img {
        display: none;
    }
    .page-softwere {
        background-image:none;
    }
    .page-softwere {
        padding: 60px 28px;
    }
    .page-softwere-flex {
        justify-content: center;
        text-align: justify;
    }
    .page-softwere-flex>div>h2 {
        text-align: center;
    }
    .page-softwere-flex>div {
        flex-basis: 100%;
    }
    .page-softwere-list {
        height: 266px;
        max-width: 800px;
        margin-right: 50px;
    }
}
@media (max-width:400px) {
    .page-app-descr {
        display: none;
    }  
    .page-app-content .title-h2 {
        font-size: 34px;
    }
    .box-subsrcribe-user input {
        padding: 25px 0 25px 15px;
    }
    .page-plan .wrap {
        padding-left: 0;
        padding-right: 0;
    }
    .video-app img{
        width: 306px;
    }
}
@media (max-width:500px) {
    .list-company {
        justify-content: center;
    }
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas: "a a" "b b" "c c" "d d" "e e" "f f" "g g" "h h";
    }
    .object-circle {
        display: none;
    }
}